@import '../../styles/abstract/variables';
.Game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  &__guess-word {
    display:flex;
    align-items:baseline;
    justify-content:center;
  }
  .letter {
    font-size:88rem;
    color:$lightGrey-1;

  }
}
.Footer{
  display:grid;
  row-gap: 13rem;
  .text{
    color:white;
    font-weight:bold;
    font-size:35rem;
  }
}
